.mainbox{
    padding: 0px;
    margin: 0px;
}


h2{
    font-weight: bold;
    padding: 20px 0 10px 50px;
}

h4{
    padding-left:50px;
    margin-top: 40px;
}

.collection{
    float:left;
}

.collectionphoto{
    width:200px;
    height:120px;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    margin: 10px 0 0 60px;
}

.collectiontitle{
    font-size: 17px;
    font-weight: bold;
    margin-left: 70px;
    margin-top:5px;
}

.collectioncontent{
    font-size: 14px;
    margin-left: 70px;
    margin-top:0px;
}

.collectionfloat{
    overflow:hidden;
}

.popular{
    float:left;
}

.popularphoto{
    border-radius: 50%;
    width:120px;
    height:120px;
    background-color: rgb(211, 211, 211);
    margin: 10px 0 0 52.5px;
}

.populartitle{
    font-size:15px;
    font-weight: bold;
    margin-left:70px
}

.location{
    float:left;
}

